extends base.pug


block content
    div#videoContainer
        video(src="/" + video.fileUrl) 
        div#videoControls.videoControls 
            div.videoControls__timeline
                input(type="range", step="0.1", value="0", min="0")#timeline.videoControls__timeline
            div.videoControls__play
                div.videoControls__play__left
                    span#play.videoControls__playBtn
                        i.fas.fa-play 
                    div.videoControls__volume
                        input(type="range", step="0.1", value=0.5 , min="0", max="1")#volume
                        span#mute 
                            i.fas.fa-volume-up 
                    div.videoControls__time
                        span#currenTime 00:00
                        span  / 
                        span#totalTime 00:00
                
                div.videoControls__play__right
                    div
                        span#fullScreen 
                            i.fas.fa-expand

block scripts
    script(src="/static/js/videoPlayer.js")

    //
        div.watch
            div.watch__video 
                p=video.description
                small=video.createdAt
            div.watch__user
                small Uploaded by 
                a(href=`/users/${video.owner._id}`) #{video.owner.name}
            div.watch__update
                if String(video.owner._id) === String(loggedInUser._id) 
                    a(href=`${video.id}/edit`) Edit Video &rarr;
                    a(href=`${video.id}/delete`) Delete Video &rarr;
